<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
    <header th:fragment="header">
        <a href="/hot-price-schedule-form">Додати новий період</a>
        <a href="/hot-price-schedule-list">Графік "Гаряча ціна"</a>
        <a href="/hot-price-schedule-list-for-process">Обробка замовлень</a>
    </header>
</body>
</html>