<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
    <header class="header" th:fragment="header">
    	<a href="/home">Home</a>
    	
        <div sec:authorize="isAuthenticated()">
        	Welcome, <span sec:authentication="name"></span>
        	
        	<a href="/login" th:href="@{/logout}" class="btn btn-outline-danger my-2 my-sm-0"> Вийти</a>
        </div>
        <hr>
    </header>
</body>
</html>