<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Best Price Event List</title>
</head>
<body>
<a href="/best-price/create-best-price-event-form">Add new best price event</a>
    <div class="container">
        <div th:if="${not #lists.isEmpty(bestPriceEvents)}">
            <h2>Best price event list</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <td>Month</td>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                <tr th:each="event:${bestPriceEvents}">
                    <td th:utext="${event.getBestPriceEventId()}"></td>
                    <td th:utext="${event.getBestPriceStartDate().getMonth()}"></td>
                    <td th:utext="${event.getBestPriceStartDate()}"></td>
                    <td th:utext="${event.getBestPriceEndDate()}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>