<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <title>Welcome</title>
</head>
<body>
    <header th:replace="fragments/header.html :: header">
    </header>
		
		<div sec:authorize="hasRole('MANAGER')">
			<a href="/mmplus/hot-price-schedule-form">Додати новий період</a>
		</div>
		<div>
			<a href="/company/hot-price-schedule-list">Графік "Гаряча ціна"</a> 
		</div>
        <div sec:authorize="hasRole('MANAGER')">
        	<a href="/mmplus/hot-price-schedule-list-for-process">Обробка замовлень</a>	
        </div>
        <div sec:authorize="hasRole('BUYER')">
            <a href="/buyer/companyForm">Додати нового Постачальника.</a>
        </div>
</body>
</html>