<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders Process page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
    <div class="container">
        <div th:if="${not #lists.isEmpty(hotPriceEvents)}">
            <h2>Orders Process page</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <td>Місяць</td>
                    <th>Початок</th>
                    <th>Кінець</th>
                    <th>Обробка</th>
                </tr>
                <tr th:each="event:${hotPriceEvents}">
                    <td th:utext="${event.getHotPriceScheduleId()}"></td>
                    <td th:utext="${event.getHotPriceStartDate().getMonth()}"></td>
                    <td th:utext="${event.getHotPriceStartDate()}"></td>
                    <td th:utext="${event.getHotPriceEndDate()}"></td>
                    <td>
                    	<a th:href="@{${'/hot-price-schedule-list-per-date/'+event.hotPriceScheduleId}}">Обробка замовлення</a>
                    </td>
                </tr> 
            </table>
        </div>
    </div>
</body>
</html>