<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Best Price Event List</title>
   <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
    
    <div class="container">
        <div th:if="${not #lists.isEmpty(hotPriceEvents)}">
            <h2>Гаряча ціна"</h2>
            <table>
                <tr>
                    <th>Id</th>
                    <td>Місяць</td>
                    <th>Початок</th>
                    <th>Кінець</th>
                    <th>
                    <div sec:authorize="hasRole('COMPANY')">
                    	Подати замовлення
                    </div>
                    </th>
                </tr>
                <tr th:each="event:${hotPriceEvents}">
                    <td th:utext="${event.getHotPriceScheduleId()}"></td>
                    <td th:utext="${event.getHotPriceStartDate().getMonth()}"></td>
                    <td th:utext="${event.getHotPriceStartDate()}"></td>
                    <td th:utext="${event.getHotPriceEndDate()}"></td>
                    <td>
                    	<div sec:authorize="hasRole('COMPANY')">
                    	<a th:href="@{${'/company/create-hot-price-order-form/'+event.hotPriceScheduleId}}">Подати замовлення</a>
                    	</div>
                    </td>
                </tr> 
            </table>
        </div>
    </div>
  
</body>
</html>