<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Placing hot price order</title>
	</head>
	
	<body>	
		<form action="/process-hot-price-order-form" th:object="${hotPriceOrder}" method="post">
		
	 		<input name="hotPriceSchedule" th:value="${hotPriceSchedule.hotPriceScheduleId}">
			start date: <p th:text="${hotPriceSchedule.hotPriceStartDate}"/>
			end date: <p th:text="${hotPriceSchedule.hotPriceEndDate}"/>
			
			Company<input type="text" th:field="*{companyName}"/>
			EAN<input type="text" th:field="*{productEan}"/>
			Product name <input type="text" th:field=*{productName}/>
			Regular price <input type="text" th:field=*{regularPrice}/>
			Discount price <input type="text" th:field=*{discountPrice}/>
	
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>