<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Hot price form submission</title>
	</head>
		
		
	
	<body>	
		<form action="/process-hot-price-order-form" th:object="${hotPriceOrder}" method="post">

	 		<input type="hidden" name="hotPriceSchedule" th:value="${hotPriceEvent.getHotPriceScheduleId()}">
			Start date: <p th:text="${hotPriceEvent.hotPriceStartDate}">Start Date</p>
			End date: <p  th:text="${hotPriceEvent.hotPriceEndDate}">Start Date</p>
			Company:<input type="text" th:field="*{companyName}"/>
	
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>