<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Best Price Event List</title>
</head>
<body>
<a href="/hot-price-schedule-form">Add new best price event</a>
    <div class="container">
        <div th:if="${not #lists.isEmpty(hotPriceEvents)}">
            <h2>Best price event list</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <td>Month</td>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Place Order</th>
                </tr>
                <tr th:each="event:${hotPriceEvents}">
                    <td th:utext="${event.getHotPriceScheduleId()}"></td>
                    <td th:utext="${event.getHotPriceStartDate().getMonth()}"></td>
                    <td th:utext="${event.getHotPriceStartDate()}"></td>
                    <td th:utext="${event.getHotPriceEndDate()}"></td>
                    <td>
                    	<a th:href="@{${'/create-hot-price-order-form/'+event.hotPriceScheduleId}}">Place Order</a>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
</body>
</html>