<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Best Price Event List</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
    <div class="container">
        <div th:if="${not #lists.isEmpty(ordersPerDate)}">
            <h2>Best price event list</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <td>Постачальник</td>
                    <th>Штрих-код</th>
                    <th>Товар</th>
                    <th>Регулярна ціна</th>
                    <th>Ціна зи зніжкою</th>
                    <th>Статус замовлення</th>
                    <th>Обробка</th>
                </tr>
                <tr th:each="order:${ordersPerDate}">
                    <td th:utext="${order.id}"></td>
                    <td th:utext="${order.companyName}"></td>
                    <td th:utext="${order.productEan}"></td>
                    <td th:utext="${order.productName}"></td>
                    <td th:utext="${order.regularPrice}"></td>
                    <td th:utext="${order.discountPrice}"></td>
                    <td th:utext="${order.orderStatus}"></td>
                    <td>
                    	<a th:href="@{${'/hot-price-order/'+order.id}}">Обробка замовлення</a>
                    </td>
                </tr> 
            </table>
        </div>
    </div>
</body>
</html>