<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>Hot price form submission</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>
	<body>
		<header th:replace="fragments/header.html :: header"></header>
		<form action="/company/process-hot-price-order-form" th:object="${hotPriceOrder}" method="post">
            <input type="hidden" th:field="*{id}">

	 		<input type="hidden" name="hotPriceSchedule" th:value="${hotPriceSchedule.id}"/>
	 		<br>
			Початок акції: <p th:text="${hotPriceSchedule.hotPriceStartDate}">Start Date</p>
			<br>
			Кінець акції: <p  th:text="${hotPriceSchedule.hotPriceEndDate}">Start Date</p>
			<br>
			<label for="company">Постачальник</label>
			<input type="text" name="company" th:field="*{companyName}"/>
			<br>
			<label name="ean">Штрих-код</label>
			<input type="text" name="ean" th:field="*{productEan}"/>
			<br>
			<label for="product">Товар</label>
			<input type="text" name="product" th:field="*{productName}"/>
			<br>
			<label for="reg-price">Регулярна ціна</label>
			<input type="number" for="reg-price" th:field="*{regularPrice}"/>
			<br>
			<label for="dicsount-price">Ціна зі зніжкою</label>
			<input type="number" for="discount-price" th:field="*{discountPrice}"/>
			<br>
			<div sec:authorize="hasRole('MANAGER')">
				<!--<select class="form-control" name="status" id="status" th:field="*{orderStatus}">-->
					<!--<option th:each="status : ${T(com.mmplus.bestprice.entity.OrderStatus).values()}"-->
							<!--th:value="${status.getOrderStatusValue()}"-->
							<!--th:text="${status}"-->
					<!--&gt;Статус-->
					<!--</option>-->
				<!--</select>-->

				<select class="form-control" name="orderStatus" id="orderStatus" th:field="*{orderStatus}">
					<option th:each="orderStatus: ${statuses}"
							th:value="${orderStatus.valueOf(orderStatus.getOrderStatusValue())}"
							th:text="${orderStatus}">Статус замовлення
					</option>
				</select>
				<input type="hidden" th:field="*{orderStatus}" sec:authorize="hasRole('MANAGER')"/>
			</div>
			<br>
			<input type="submit" value="Зберегти"/>
		</form>
	</body>
</html>